.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pagination-next-button {
  float: right;
  position: relative;
  right: 100px
}

.pagination-previous-button {
  float: left;
  position: relative;
  left: 100px;
}

.bottom-page {
  height: 100px
}

.rowMargin {
  height: 35px
}

.pagination-buttonsArea {
  margin: 30px;
}

.paginationButton {
  margin: 0 10px 0 10px
}

